{% extends 'education/cll_navbar.html' %}
{% load static %}
{% load i18n %}

{% block extra_css2 %}
<link rel="stylesheet" href="{% static 'education/css/cll/course_2x2_cl_1.css' %}">
{% endblock %}
{% block container %}
    <main class="content1">
        <h1>{% trans 'Formules of CLL' %}</h1>
        <div class="grid sun">
            <div class="row">
                <div class="sun-0-0 formula-card"><img src="education/cll/sun" alt="sun-0-0" height="180" width="180"><video src="" style="display: none;"></video><span class="formula">
                    <p>R U R' U R U2 R'</p>
                    <p>(U') R' U2 R U' R' U R</p>
                </span></div>
                <div class="sun-0-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U') R' F R2 F' R U2 R' U' R2</p>
                    <p>(U') R' F R2 F' U' R' U' R2 U R'</p>
                </span></div>
            </div>
            <div class="row">
                <div class="sun-1-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>F R' F' R U2 R U2 R'</p>
                </span></div>
                <div class="sun-1-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>R U' R' F L' U' L</p>
                    <p>R2 U R' U' R' F R F' R'</p>
                </span></div>
            </div>
            <div class="row">
                <div class="sun-2-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U2) R U' R U' R' U R' U' y R U' R'</p>
                </span></div>
                <div class="sun-2-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>L' U2 L U2 L F' L' F</p>
                </span></div>
            </div>
        </div>
        <div class="grid antisune">
            <div class="row">
                <div class="antisune-0-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>R' U' R U' R' U2 R</p>
                    <p>(U) R U2 R' U' R U' R'</p>
                    <p>(U2) L' U' L U' L' U2 L</p>
                </span></div>
                <div class="antisune-0-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U2) R' U R U' R2' F R F' R U R' U' R</p>
                    <p>(U') R' U' R U' R' U R' F R F' U R</p>
                    <p>(U') R2 U R U2 L' U R2 U' L</p>
                    <p>R U2 R' F R' F' R U' R U' R'</p>
                </span></div>
            </div>
            <div class="row">
                <div class="antisune-1-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U2) F' L F L' U2 L' U2 L</p>
                </span></div>
                <div class="antisune-1-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>R' U2 R y R' U R' U' R U' R</p>
                    <p>(U2) L' U L F' R U R'</p>
                    <p>R' U L U' R U L'</p>
                </span></div>
            </div>
            <div class="row">
                <div class="antisune-2-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U2) L' U2 L F' R' F2 R U' R' F R F'</p>
                    <p>R2 F R U2 R U' R' U2 F' R</p>
                </span></div>
                <div class="antisune-2-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U2) R U2 R' U2 R' F R F'</p>
                </span></div>
            </div>
        </div>
        <div class="grid pi">
            <div class="row">
                <div class="pi-0-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>F R U R' U' R U R' U' F'</p>
                    <p>(U') F' R U2 R' U2 R' F2 R F'</p>
                    <p>R' U R2 U' R2 U' R2 U R'</p>
                </span></div>
                <div class="pi-0-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U') R' U' R' F R F' R U' R' U2 R</p>
                    <p>R2 U R' U' F R F' R U' R2</p>
                </span></div>
            </div>
            <div class="row">
                <div class="pi-1-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>R U' R' F R' F R U R' F R</p>
                    <p>(U2) R' F R F' R U' R' U' R U' R'</p>
                </span></div>
                <div class="pi-1-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U') R U' R U' R' U R' F R2 F'</p>
                    <p>(U') R' F R U F U' R U R' U' F'</p>
                </span></div>
            </div>
            <div class="row">
                <div class="pi-2-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>R U2 R' U' R U R' U2 R' F R F'</p>
                    <p>(U) F' L F L' U2 L' U L U' L' U2 L</p>
                </span></div>
                <div class="pi-2-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>R' F2 R F' U2 R U' R' U' F</p>
                    <p>(U2) L' U2 L U L' U' L U2 L F' L' F</p>
                    <p>(U) F R' F' R U2 R U' R' U R U2 R'</p>
                </span></div>
            </div>
        </div>
        <div class="grid u">
            <div class="row">
                <div class="u-0-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>F R U R' U' F'</p>
                    <p>(U2) F U R U' R' F'</p>
                </span></div>
                <div class="u-0-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U) R U' R' F' L F' L' F2 U' R U R'</p>
                    <p>(U') R2 F2 R U R' F U' R U R2</p>
                    <p>(U2) R U' R U' R U' R' U R' U R'</p>
                </span></div>
            </div>
            <div class="row">
                <div class="u-1-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U2) x R U R U' B2 R' U R' U' R x'</p>
                    <p>z' U2 R' U' R2 U' R' U' R U' R' U'</p>
                </span></div>
                <div class="u-1-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U) x R U' R U' R' U L' U' L</p>
                    <p>F R' F' R U' R U' R' U2 R U' R'</p>
                </span></div>
            </div>
            <div class="row">
                <div class="u-2-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U') R U2 R' U R' F2 R F' R' F2 R</p>
                    <p>(U) R U' R2 F R F' R U R' U' R U R'</p>
                </span></div>
                <div class="u-2-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U') R2 U R' U' R2 U' y L' U2 L</p>
                    <p>(U) R' U R' F R F' R U2 R' U R</p>
                </span></div>
            </div>
        </div>
        <div class="grid l">
            <div class="row">
                <div class="l-0-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U) F' R U R' U' R' F R</p>
                    <p>F R U' R' U' R U R' F'</p>
                </span></div>
                <div class="l-0-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>F R' F' R U R U' R'</p>
                </span></div>
            </div>
            <div class="row">
                <div class="l-1-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U2) L' U2 L F' R' F2 R2 U' R'</p>
                    <p>R U2 R2' F R F' R U2' R'</p>
                </span></div>
                <div class="l-1-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U) R' U R' U2 R U' R' U R U' R2</p>
                </span></div>
            </div>
            <div class="row">
                <div class="l-2-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U) x' R' U2 R' U' R U2 R' F R2</p>
                    <p>R U2 R' U' y' R2 U' R' U R2</p>
                    <p>(U') R U' R' U R U' R' F R' F' R2 U R'</p>
                </span></div>
                <div class="l-2-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U') R' F' R U R' U' R' F R2 U' R' U2 R</p>
                    <p>R' U' R U2 R' F R' F' R U' R</p>
                    <p>R U2 R' F' R U2 R' U R' F2 R</p>
                    <p>(U) L' U2 L U y' R2 U R U' R2'</p>
                </span></div>
            </div>
        </div>
        <div class="grid t">
            <div class="row">
                <div class="t-0-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>R U R' U' R' F R F'</p>
                </span></div>
                <div class="t-0-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>F R F' R U R' U' R'</p>
                    <p>(U2) L' U' L U L F' L' F</p>
                    <p>F R U' R' U R U R' F'</p>
                </span></div>
            </div>
            <div class="row">
                <div class="t-1-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U) F U' R U2 R' U' F2 R U R'</p>
                </span></div>
                <div class="t-1-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U2) R' U R' F U' R U F2 R2'</p>
                    <p>R U R' U R U2 R2 F' R U' R' F2 R</p>
                    <p>(U2) R U' R' U F2 L F L' F R U R'</p>
                    <p>(U') R' U R' U2 R U2 R' U R2 U' R'</p>
                </span></div>
            </div>
            <div class="row">
                <div class="t-2-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U') F R U R' U' R U' R' U' R U R' F'</p>
                    <p>(U2) L F' z' R' U R' U' R U' R</p>
                    <p>(U2) R' U2 R' x U2 R U2' R' U2 R2</p>
                </span></div>
                <div class="t-2-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U) R' U R U2 R2 F R F' R</p>
                    <p>(U') R' F R U2 R2 F R U' R</p>
                    <p>(U') R U' R' U2 R2 x' U' R' U R'</p>
                </span></div>
            </div>
        </div>
        <div class="grid h">
            <div class="row">
                <div class="h-0-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>R2 U2 R U2' R2'</p>
                </span></div>
                <div class="h-0-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>x' U2 R U2 R2 F2 R U2</p>
                    <p>F R U R' U' R U R' U' R U R' U'F'</p>
                    <p>(U) R2 F' U2 F2 R2 F' R2</p>
                </span></div>
            </div>
            <div class="row">
                <div class="h-2-0 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>R U R' U R U R' F R' F' R</p>
                    <p>R' F' R U2 R U2 R' F U' R U' R'</p>
                    <p>(U) R U' R' F U2 R2 F R U' R</p>
                </span></div>
                <div class="h-2-1 formula-card"><img src="" alt=""><video src="" style="display: none;"></video><span class="formula">
                    <p>(U) F R2 U' R2' U' R2 U R2' F'</p>
                    <p>(U') F R' F' R U' R U' R' U R' F R F'</p>
                    <p>(U) x' U' R2 U L' U R' U' R U' R</p>
                    <p>R' U2 R y R' U R' U' R U' R</p>
                </span></div>
            </div>
        </div>
        <span class="note">{% trans "If there is a number 2 next to the letter, it means 2 rotations." %}</span>
        <div class="nav-buttons">
            <span id="the-cube-is-assembled" class="nav-button back card-button" data-href="{% url 'course_2x2_def_introduction' %}">{% trans "Back" %}</span>
            <span id="the-cube-is-assembled" class="nav-button next card-button" data-href="{% url 'course_2x2_def_2' %}">{% trans "Next" %}</span>
        </div>
    </main>
    <script src="{% static 'education/js/course_2x2_def_1.js' %}"></script>
{% endblock %}
